In [1]:
# 파이썬의 데이터 분석 패키지 판다스(Pandas)를 읽어옵니다.
import pandas as pd

### 데이터 로딩하기

In [2]:
# 판다스(pandas)의 read_csv를 활용하여 사용자(users) 데이터를 저장한 users.csv 를 읽어옵니다.
# 여기서 id 컬럼을 이 데이터의 인덱스(index)로 지정합니다.
# 이 데이터를 users라는 이름의 변수에 할당합니다.
users = pd.read_csv("data/users.csv", index_col = "id")

# users 변수에 할당된 데이터의 행렬 사이즈를 출력합니다.
# 출력은 (row, column) 으로 표시됩니다.
print(users.shape)

# head()로 users 데이터의 상위 5개를 띄웁니다.
users.head()

(500000, 7)

,email,phone,name,created_at,updated_at,deleted_at,registration_date
id,,,,,,,
qgshprk71u177olqc53amg4g,v3jofvd6shvb@class101.net,010-3072-0685,유서진,2019-01-01 02:38:13,2020-04-24 09:31:13,NaN,2019-01-01
k6ai4dy7cj8uc0xrc6wrf6br,g8pqtiwm2r6k@class101.net,NaN,신소율,2019-01-01 02:51:03,2020-05-03 01:04:03,NaN,2019-01-01
hormvaltnqcihwmdiv1o6bl8,c30nexut34hv@class101.net,010-4188-1786,홍송빈,2019-01-01 03:25:40,2020-06-03 07:51:40,NaN,2019-01-01
wooov9hg1ivf72ffglcg8amu,bickbavsvfto@class101.net,010-6320-6368,백수희,2019-01-01 03:44:43,2020-06-03 11:40:43,NaN,2019-01-01
prpwrccgipqxycq60nbzhx16,2myoeg5f86fn@class101.net,010-2850-0187,윤원일,2019-01-01 03:55:32,2020-05-30 04:34:32,NaN,2019-01-01

In [3]:
# 판다스(pandas)의 read_csv를 활용하여 클래스(klasses) 데이터를 저장한 klasses.csv 를 읽어옵니다.
# 여기서 id 컬럼을 이 데이터의 인덱스(index)로 지정합니다.
# 이 데이터를 klasses라는 이름의 변수에 할당합니다.
klasses = pd.read_csv("data/klasses.csv", index_col = "id")

# klasses 변수에 할당된 데이터의 행렬 사이즈를 출력합니다.
# 출력은 (row, column) 으로 표시됩니다.
print(klasses.shape)

# head()로 klasses 데이터의 상위 5개를 띄웁니다.
klasses.head()

(10000, 5)

,category_id,is_deleted,created_at,updated_at,deleted_at
id,,,,,
5qyiobiuqwm5of3wjn7b8u3o,3s1rh4dgricnul21gc982fab,0,2019-01-02 13:56:29,2019-01-02 13:56:29,NaN
sg0xpv8oz6vtqv75j0uk3mzq,v0ztv9x3af97gbeaqk5alcnu,0,2019-01-02 14:07:58,2019-01-02 14:07:58,NaN
0w78clopemxncz6h0aqmnhf3,3s1rh4dgricnul21gc982fab,0,2019-01-04 12:46:32,2019-01-04 12:46:32,NaN
pv274nmwxb77k79zdddicl88,3s1rh4dgricnul21gc982fab,0,2019-01-04 18:59:15,2019-01-04 18:59:15,NaN
p3b9n3g8z2vo5ch9u2jkfj38,v0ztv9x3af97gbeaqk5alcnu,0,2019-01-04 19:38:56,2019-01-04 19:38:56,NaN

In [4]:
# 판다스(pandas)의 read_csv를 활용하여 클래스 수강권(klass_tickets) 데이터를 저장한 klass_tickets.csv 를 읽어옵니다.
# 여기서 id 컬럼을 이 데이터의 인덱스(index)로 지정합니다.
# 이 데이터를 klass_tickets라는 이름의 변수에 할당합니다.
klass_tickets = pd.read_csv("data/klass_tickets.csv", index_col = "id")

# klass_tickets 변수에 할당된 데이터의 행렬 사이즈를 출력합니다.
# 출력은 (row, column) 으로 표시됩니다.
print(klass_tickets.shape)

# head()로 klass_tickets 데이터의 상위 5개를 띄웁니다.
klass_tickets.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(200000, 8)

,user_id,klass_id,available_days,is_paid,created_at,updated_at,finished_at,deleted_at
id,,,,,,,,
8u4iqyurthy66f1lxzvg2mmo,a2913ovga13eni7ndv63tu5a,x4rvjspfoljtet2j68bk3fcr,393.0,0,2019-01-01 07:17:34,2019-08-01 07:17:34,2020-01-29 07:17:34,NaN
hywaasrsu2uipjh7hox8btzk,vzv3c8f1ulq64no4ppn9d5e4,x4rvjspfoljtet2j68bk3fcr,900.0,0,2019-03-08 12:33:29,2019-07-17 07:59:29,2021-08-24 12:33:29,NaN
a7a0kmzuiu8lncc5xcdomkd2,kmznsa34yboekgu22r0wihas,x5a9y2o67xgi1a8rdfoopoxk,112.0,0,2019-03-11 14:06:11,2019-04-08 16:16:11,2019-07-01 14:06:11,NaN
5ddaf8rkhfff4910pwk56vcn,4pi31wvkbx0ffi9pk75ksylj,f49967086xoz3gx2oyeg7i8p,112.0,0,2019-03-11 15:16:52,2019-03-25 17:52:52,2019-07-01 15:16:52,NaN
kri4yddw8xweaqy1ka9ul7uk,preb085px8f5rpdnm6q7vbhg,foxgzdmllif6j4kc3tfum1zk,112.0,0,2019-03-11 18:00:07,2019-03-25 23:44:07,2019-07-01 18:00:07,NaN

In [5]:
# 판다스(pandas)의 read_csv를 활용하여 카테고리(categories) 데이터를 저장한 categories.csv 를 읽어옵니다.
# 여기서 id 컬럼을 이 데이터 의 인덱스(index)로 지정합니다.
# 이 데이터를 categories라는 이름의 변수에 할당합니다.
categories = pd.read_csv("data/categories.csv", index_col = "id")

# categories 변수에 할당된 데이터의 행렬 사이즈를 출력합니다.
# 출력은 (row, column) 으로 표시됩니다.
print(categories.shape)

# head()로 categories 데이터의 상위 5개를 띄웁니다.
categories.head()

(41, 1)

                          title
id
1bd5dfdagggonxczc7smhllg   니들펠트
522txgxi7ir17efk7hwx3e61    인문학
jefday4zwteh0otdnxnk9fhr     요가
nfvpfsskoq6j24h2yni5ycec  요리/음료
ude19x8iw10z11ud82oxbg27     운동

### 데이터 정리

**1. 사용자(```users```) 데이터의 날짜 정보를 ```datetime``` 형태로 변환.**

In [6]:
users["created_at"] = pd.to_datetime(users["created_at"])
users["updated_at"] = pd.to_datetime(users["updated_at"])
users["deleted_at"] = pd.to_datetime(users["deleted_at"])
users["registration_date"] = pd.to_datetime(users["registration_date"])

In [7]:
users.dtypes

email                        object
phone                        object
name                         object
created_at           datetime64[ns]
updated_at           datetime64[ns]
deleted_at           datetime64[ns]
registration_date    datetime64[ns]
dtype: object

**2. 클래스(```klasses```) 데이터의 ```is_deleted``` 컬럼 값을 ```0```, ```1```에서 ```True```, ```False```로 변환.**

In [8]:
klasses["is_deleted(bool)"] = klasses["is_deleted"].replace(0, False).replace(1, True)
klasses[["is_deleted", "is_deleted(bool)"]]

                          is_deleted  is_deleted(bool)
id
5qyiobiuqwm5of3wjn7b8u3o           0             False
sg0xpv8oz6vtqv75j0uk3mzq           0             False
0w78clopemxncz6h0aqmnhf3           0             False
pv274nmwxb77k79zdddicl88           0             False
p3b9n3g8z2vo5ch9u2jkfj38           0             False
...                              ...               ...
836nvwsbzchxisdjbxhrppyt           0             False
v11voj83iqyev0vg2v2rkbef           0             False
7wprk9y73zbhu9vmq4h0b6el           0             False
l98p2egp30baecci5av89hyq           0             False
w8znu3lepn125frswmj1nlag           0             False

[10000 rows x 2 columns]

**3. 클래스 수강권(```klass_tickets```) 데이터의 ```is_paid``` 컬럼 값을 ```0```, ```1```에서 ```True```, ```False```로 변환.**

In [10]:
klass_tickets["is_paid(bool)"] = klass_tickets["is_paid"].replace(1, True).replace(0, False)
klass_tickets[["is_paid", "is_paid(bool)"]]

                          is_paid  is_paid(bool)
id
8u4iqyurthy66f1lxzvg2mmo        0          False
hywaasrsu2uipjh7hox8btzk        0          False
a7a0kmzuiu8lncc5xcdomkd2        0          False
5ddaf8rkhfff4910pwk56vcn        0          False
kri4yddw8xweaqy1ka9ul7uk        0          False
...                           ...            ...
q4q9ixiado2x4fl2hj6apmzc        1           True
u6valv1i8cpthw52mvas8foq        1           True
0h117rjm8w4cj0raac87y885        1           True
2ra0cc0478aklq16wq9sytik        1           True
g3q5qsiys7vsz1g75m24hzq8        1           True

[200000 rows x 2 columns]

**4. 클래스(```klasses```) 데이터와 클래스 수강권(```klasses_tickets```) 데이터의 날짜 정보를 datetime 형태로 변환.**

In [11]:
klasses["created_at"] = pd.to_datetime(klasses["created_at"])
klasses["updated_at"] = pd.to_datetime(klasses["updated_at"])
klasses["deleted_at"] = pd.to_datetime(klasses["deleted_at"])

In [12]:
klasses.dtypes

category_id                 object
is_deleted                   int64
created_at          datetime64[ns]
updated_at          datetime64[ns]
deleted_at          datetime64[ns]
is_deleted(bool)              bool
dtype: object

In [13]:
klass_tickets["created_at"] = pd.to_datetime(klass_tickets["created_at"])
klass_tickets["updated_at"] = pd.to_datetime(klass_tickets["updated_at"])
klass_tickets["finished_at"] = pd.to_datetime(klass_tickets["finished_at"])
klass_tickets["deleted_at"] = pd.to_datetime(klass_tickets["deleted_at"])

In [14]:
klass_tickets.dtypes

user_id                   object
klass_id                  object
available_days           float64
is_paid                    int64
created_at        datetime64[ns]
updated_at        datetime64[ns]
finished_at       datetime64[ns]
deleted_at        datetime64[ns]
is_paid(bool)               bool
dtype: object

**5. 수강권(```klass_tickets```) 데이터의 유효기간(```available_days```) 컬럼 값을 정수형(```int```)로 변환.**

In [15]:
klass_tickets["available_days(int)"] = klass_tickets["available_days"].astype(int)
klass_tickets[["available_days", "available_days(int)"]].head()

                          available_days  available_days(int)
id
8u4iqyurthy66f1lxzvg2mmo           393.0                  393
hywaasrsu2uipjh7hox8btzk           900.0                  900
a7a0kmzuiu8lncc5xcdomkd2           112.0                  112
5ddaf8rkhfff4910pwk56vcn           112.0                  112
kri4yddw8xweaqy1ka9ul7uk           112.0                  112

### 분석 리포트 생성

**6. 2020년 4월 기준 전체 가입자와 신규 가입자수 구하기.**

In [16]:
users.dtypes

email                        object
phone                        object
name                         object
created_at           datetime64[ns]
updated_at           datetime64[ns]
deleted_at           datetime64[ns]
registration_date    datetime64[ns]
dtype: object

In [17]:
total_users = users[users["registration_date"] <= "2020-04-30"]
print("2020-04 기준 전체 가입자 :",total_users.shape[0])
total_users.head()

2020-04 기준 전체 가입자 : 484747

,email,phone,name,created_at,updated_at,deleted_at,registration_date
id,,,,,,,
qgshprk71u177olqc53amg4g,v3jofvd6shvb@class101.net,010-3072-0685,유서진,2019-01-01 02:38:13,2020-04-24 09:31:13,NaT,2019-01-01
k6ai4dy7cj8uc0xrc6wrf6br,g8pqtiwm2r6k@class101.net,NaN,신소율,2019-01-01 02:51:03,2020-05-03 01:04:03,NaT,2019-01-01
hormvaltnqcihwmdiv1o6bl8,c30nexut34hv@class101.net,010-4188-1786,홍송빈,2019-01-01 03:25:40,2020-06-03 07:51:40,NaT,2019-01-01
wooov9hg1ivf72ffglcg8amu,bickbavsvfto@class101.net,010-6320-6368,백수희,2019-01-01 03:44:43,2020-06-03 11:40:43,NaT,2019-01-01
prpwrccgipqxycq60nbzhx16,2myoeg5f86fn@class101.net,010-2850-0187,윤원일,2019-01-01 03:55:32,2020-05-30 04:34:32,NaT,2019-01-01

In [18]:
new_users = users[(users["registration_date"] >= "2020-04-01") & (users["registration_date"] <= "2020-04-30")]
print("2020-04 기준 신규 가입자 :",new_users.shape[0])
new_users.head()

2020-04 기준 신규 가입자 : 49464

,email,phone,name,created_at,updated_at,deleted_at,registration_date
id,,,,,,,
gk82txt4uhw2j3hkciruji5i,NaN,010-1460-7625,이영찬,2020-04-01 00:00:02,2020-04-30 15:55:02,NaT,2020-04-01
exqx9hag4b1hw3li4dtiezsq,NaN,NaN,박시원,2020-04-01 00:00:45,2020-04-01 00:00:45,NaT,2020-04-01
d8jc1ir1gpo5raz6oueamd0d,NaN,NaN,최민기,2020-04-01 00:01:57,2020-04-01 00:01:57,NaT,2020-04-01
ah94tq1snytpeb51eno92emk,3lqcpnb5dsgs@class101.net,010-6366-2683,류시우,2020-04-01 00:01:57,2020-04-01 00:01:57,NaT,2020-04-01
ps14o4ubjy5jk4wmhbyf1yfv,NaN,NaN,장채민,2020-04-01 00:01:58,2020-04-01 00:03:58,NaT,2020-04-01

**7.2020년 4월 기준 ```전체 수강생```. 즉, 수강권을 구매한 구매자를 찾기.**

In [19]:
new_users = pd.merge(users, klass_tickets, left_on="id", right_on="user_id")
new_users

,email,phone,name,created_at_x,updated_at_x,deleted_at_x,registration_date,user_id,klass_id,available_days,is_paid,created_at_y,updated_at_y,finished_at,deleted_at_y,is_paid(bool),available_days(int)
0,c30nexut34hv@class101.net,010-4188-1786,홍송빈,2019-01-01 03:25:40,2020-06-03 07:51:40,NaT,2019-01-01,hormvaltnqcihwmdiv1o6bl8,i3oyxi3rbx1dqc3e0b9l8sno,140.0,1,2020-04-11 21:48:52,2020-04-14 08:39:52,2020-08-29 21:48:52,NaT,True,140
1,c30nexut34hv@class101.net,010-4188-1786,홍송빈,2019-01-01 03:25:40,2020-06-03 07:51:40,NaT,2019-01-01,hormvaltnqcihwmdiv1o6bl8,z3q0rfq9dclclzuxcwxbms73,1.0,0,2020-05-19 19:35:32,2020-05-19 19:35:32,2020-05-20 19:35:32,NaT,False,1
2,bickbavsvfto@class101.net,010-6320-6368,백수희,2019-01-01 03:44:43,2020-06-03 11:40:43,NaT,2019-01-01,wooov9hg1ivf72ffglcg8amu,uyihlaxbzcolcymiymfyid2e,154.0,1,2019-07-24 19:36:39,2019-07-25 07:58:39,2019-12-25 19:36:39,NaT,True,154
3,bickbavsvfto@class101.net,010-6320-6368,백수희,2019-01-01 03:44:43,2020-06-03 11:40:43,NaT,2019-01-01,wooov9hg1ivf72ffglcg8amu,l8kg65agivhd1oyhb5m6a8hg,154.0,1,2020-01-05 10:03:25,2020-01-05 10:03:25,2020-06-07 10:03:25,NaT,True,154
4,bickbavsvfto@class101.net,010-6320-6368,백수희,2019-01-01 03:44:43,2020-06-03 11:40:43,NaT,2019-01-01,wooov9hg1ivf72ffglcg8amu,dm62eauh7eaxlp343vcoqtyi,168.0,1,2020-03-06 15:49:21,2020-03-06 15:49:21,2020-08-21 15:49:21,NaT,True,168
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,x8bzx99gnftl@class101.net,010-7880-6877,손수민,2020-05-12 07:51:44,2020-05-28 09:48:44,NaT,2020-05-12,rbbuiygpxpdyia7d5ig29t0h,cc88nvjw3372sdz9mks097ho,140.0,1,2020-05-16 09:02:28,2020-05-16 09:02:28,2020-10-03 09:02:28,NaT,True,140
199996,x8bzx99gnftl@class101.net,010-7880-6877,손수민,2020-05-12 07:51:44,2020-05-28 09:48:44,NaT,2020-05-12,rbbuiygpxpdyia7d5ig29t0h,3zkask28zsgcv1k63d9e51ls,140.0,1,2020-05-28 07:11:02,2020-05-28 07:11:02,2020-10-15 07:11:02,NaT,True,140
199997,NaN,NaN,장채슬,2020-05-12 07:53:25,2020-05-12 08:01:25,NaT,2020-05-12,l40uqi3k4zxkrb7vkb7z7ib2,z25usytcgptslj82zop7g4ad,1.0,0,2020-05-19 18:44:12,2020-05-19 18:44:12,2020-05-20 18:44:12,NaT,False,1
199998,zqnbernv14gc@class101.net,NaN,강장완,2020-05-12 08:22:48,2020-05-12 08:24:48,NaT,2020-05-12,mydedfns9x0z43p4b2kti37i,amnuup2q3u85bgjeswb6o3l6,140.0,0,2020-05-12 02:57:51,2020-05-12 02:57:51,2020-09-29 02:57:51,NaT,False,140
199999,h5e1espz2d6n@class101.net,NaN,한채윤,2020-05-12 09:29:41,2020-05-12 09:47:41,NaT,2020-05-12,mw4qq4bawsb5u3vp34z86zkz,u85yqtgerauwfvpj9pz6j0bx,1.0,0,2020-05-19 18:45:49,2020-05-19 18:45:49,2020-05-20 18:45:49,NaT,False,1

In [23]:
buy_tickets = new_users[(new_users["created_at_y"] >= "2020-04-01") & 
                 (new_users["created_at_y"] < "2020-05-01")]
buy_users = buy_tickets["user_id"].unique()
print(len(buy_users))
buy_users

16414

array(['hormvaltnqcihwmdiv1o6bl8', 'oq8fjwv4bod562ricxsqkp50',
       'xr6ptz3ohic9unwy5lxlxyjf', ..., 'pvtsbfw9zf6icbsaz8kxzajn',
       'wgltllt27fvh6emmln0clj2o', '6sybc0xt5ke37lc0jd5u9ozz'],
      dtype=object)

**8. 2020년 4월 30일 기준 유효 수강생. 즉 이미 수업을 듣고 있는 수강생을 구하기.**

In [34]:
user0430_all_ready = new_users[(new_users["finished_at"] >= "2020-05-01") &  
                  (new_users["created_at_y"] < "2020-05-01")]
user0430_all_ready = user0430_all_ready["user_id"].unique()

print(len(user0430_all_ready))

user0430_all_ready

71996

array(['hormvaltnqcihwmdiv1o6bl8', 'wooov9hg1ivf72ffglcg8amu',
       'lg13v8lmcth5agvuxixp2gq6', ..., 'q71abt3o6060mcopcg7bawxc',
       '0zmffkqd6r9o42064zau726r', '933bul738ak1a3azn89qc882'],
      dtype=object)

**9. 2020년 4월 이후에 생긴 신규 클래스를 찾고, 이 신규 클래스를 수강 신청한 사용자의 총 인원수를 구하기.**

In [185]:
new_klasses_data = pd.merge(new_users, klasses, left_on="klass_id", right_on="id")
new_klasses_data.head()

,email,phone,name,created_at_x,updated_at_x,deleted_at_x,registration_date,registration_date(ym),user_id,klass_id,...,finished_at,deleted_at_y,is_paid(bool),available_days(int),category_id,is_deleted,created_at,updated_at,deleted_at,is_deleted(bool)
0,c30nexut34hv@class101.net,010-4188-1786,홍송빈,2019-01-01 03:25:40,2020-06-03 07:51:40,NaT,2019-01-01,2019-01,hormvaltnqcihwmdiv1o6bl8,i3oyxi3rbx1dqc3e0b9l8sno,...,2020-08-29 21:48:52,NaT,True,140,9m11z3tcqq2pdkpakslcz02u,0,2019-12-12 22:25:41,NaT,NaT,False
1,ksre26071kws@class101.net,010-6623-0605,신준호,2019-01-01 18:03:48,2020-05-23 14:44:48,NaT,2019-01-01,2019-01,oq8fjwv4bod562ricxsqkp50,i3oyxi3rbx1dqc3e0b9l8sno,...,2020-08-31 18:13:22,NaT,True,140,9m11z3tcqq2pdkpakslcz02u,0,2019-12-12 22:25:41,NaT,NaT,False
2,b7uqrbo0kv2r@class101.net,010-8377-6285,전서영,2019-01-07 12:39:34,2020-06-03 11:42:34,NaT,2019-01-07,2019-01,d6afhlizw1wptelwgv6h4d8v,i3oyxi3rbx1dqc3e0b9l8sno,...,2020-09-07 13:23:27,NaT,True,140,9m11z3tcqq2pdkpakslcz02u,0,2019-12-12 22:25:41,NaT,NaT,False
3,nqcfq08lv5bz@class101.net,010-8006-3123,전대규,2019-01-08 23:32:45,2020-05-31 19:56:45,NaT,2019-01-08,2019-01,bm7dj7cnc5gv2secv5fokaxc,i3oyxi3rbx1dqc3e0b9l8sno,...,2020-07-15 13:43:10,NaT,True,140,9m11z3tcqq2pdkpakslcz02u,0,2019-12-12 22:25:41,NaT,NaT,False
4,thnrcj1ha74i@class101.net,010-8622-2018,전세은,2019-01-16 06:37:17,2020-05-11 13:11:17,NaT,2019-01-16,2019-01,88xsb8idk1ensbj33x2o76di,i3oyxi3rbx1dqc3e0b9l8sno,...,2020-07-14 14:22:57,NaT,True,140,9m11z3tcqq2pdkpakslcz02u,0,2019-12-12 22:25:41,NaT,NaT,False

In [193]:
new_klasses_users = new_klasses_data[(new_klasses_data["created_at"] >= "2020-04-01") & (new_klasses_data["is_deleted"] != 1)]
print("신규 클래스 수강신청자 :",new_klasses_users.shape[0])
new_klasses_users.head()

신규 클래스 수강신청자 : 244

,email,phone,name,created_at_x,updated_at_x,deleted_at_x,registration_date,registration_date(ym),user_id,klass_id,...,finished_at,deleted_at_y,is_paid(bool),available_days(int),category_id,is_deleted,created_at,updated_at,deleted_at,is_deleted(bool)
182195,h7slihoyu5dk@class101.net,010-2577-6711,손채정,2019-01-08 01:14:38,2020-06-02 15:04:38,NaT,2019-01-08,2019-01,a4tswsbcl3w3dz2sruz5zt97,gnt6h66rqxvik6iq5ns6xyz0,...,2020-08-03 12:38:51,NaT,True,90,u3c52mjdeyk8jojul909p8xi,0,2020-04-09 06:54:07,NaT,NaT,False
182196,a3g8h43adri4@class101.net,010-1125-2014,배초연,2019-01-18 15:35:17,2020-06-03 12:13:17,NaT,2019-01-18,2019-01,289rh2cfbwjy54hrkssq7ap2,gnt6h66rqxvik6iq5ns6xyz0,...,2020-08-17 07:18:20,NaT,True,90,u3c52mjdeyk8jojul909p8xi,0,2020-04-09 06:54:07,NaT,NaT,False
182197,be615qvsh2mk@class101.net,010-4001-6523,오은우,2019-02-01 15:02:55,2020-06-01 01:12:55,NaT,2019-02-01,2019-02,o41b89zhw69y71rdtw098cn8,gnt6h66rqxvik6iq5ns6xyz0,...,2020-07-21 14:14:13,NaT,True,90,u3c52mjdeyk8jojul909p8xi,0,2020-04-09 06:54:07,NaT,NaT,False
182198,e8d3t76knv94@class101.net,010-1660-4752,오윤열,2019-02-28 13:33:34,2020-05-15 11:15:34,NaT,2019-02-28,2019-02,hpwgvvlqt5rggshxaz9vlnio,gnt6h66rqxvik6iq5ns6xyz0,...,2020-08-13 04:12:27,NaT,True,90,u3c52mjdeyk8jojul909p8xi,0,2020-04-09 06:54:07,NaT,NaT,False
182199,9u6yvm9yadeo@class101.net,010-8418-6327,윤예찬,2019-03-04 21:27:00,2020-06-02 16:51:00,NaT,2019-03-04,2019-03,0t2zsed0c6xivi9rkpfvaku2,gnt6h66rqxvik6iq5ns6xyz0,...,2020-07-25 09:38:38,NaT,True,90,u3c52mjdeyk8jojul909p8xi,0,2020-04-09 06:54:07,NaT,NaT,False

**10. 2020년 4월 이후에 생긴 신규 클래스 중, ```직무``` 카테고리 클래스를 수강 신청한 사용자의 총 인원수를 구하기.**

In [201]:
data = pd.merge(new_klasses_data, categories, left_on="category_id", right_on="id")
data.head()

,email,phone,name,created_at_x,updated_at_x,deleted_at_x,registration_date,registration_date(ym),user_id,klass_id,...,deleted_at_y,is_paid(bool),available_days(int),category_id,is_deleted,created_at,updated_at,deleted_at,is_deleted(bool),title
0,c30nexut34hv@class101.net,010-4188-1786,홍송빈,2019-01-01 03:25:40,2020-06-03 07:51:40,NaT,2019-01-01,2019-01,hormvaltnqcihwmdiv1o6bl8,i3oyxi3rbx1dqc3e0b9l8sno,...,NaT,True,140,9m11z3tcqq2pdkpakslcz02u,0,2019-12-12 22:25:41,NaT,NaT,False,부업/창업/재테크
1,ksre26071kws@class101.net,010-6623-0605,신준호,2019-01-01 18:03:48,2020-05-23 14:44:48,NaT,2019-01-01,2019-01,oq8fjwv4bod562ricxsqkp50,i3oyxi3rbx1dqc3e0b9l8sno,...,NaT,True,140,9m11z3tcqq2pdkpakslcz02u,0,2019-12-12 22:25:41,NaT,NaT,False,부업/창업/재테크
2,b7uqrbo0kv2r@class101.net,010-8377-6285,전서영,2019-01-07 12:39:34,2020-06-03 11:42:34,NaT,2019-01-07,2019-01,d6afhlizw1wptelwgv6h4d8v,i3oyxi3rbx1dqc3e0b9l8sno,...,NaT,True,140,9m11z3tcqq2pdkpakslcz02u,0,2019-12-12 22:25:41,NaT,NaT,False,부업/창업/재테크
3,nqcfq08lv5bz@class101.net,010-8006-3123,전대규,2019-01-08 23:32:45,2020-05-31 19:56:45,NaT,2019-01-08,2019-01,bm7dj7cnc5gv2secv5fokaxc,i3oyxi3rbx1dqc3e0b9l8sno,...,NaT,True,140,9m11z3tcqq2pdkpakslcz02u,0,2019-12-12 22:25:41,NaT,NaT,False,부업/창업/재테크
4,thnrcj1ha74i@class101.net,010-8622-2018,전세은,2019-01-16 06:37:17,2020-05-11 13:11:17,NaT,2019-01-16,2019-01,88xsb8idk1ensbj33x2o76di,i3oyxi3rbx1dqc3e0b9l8sno,...,NaT,True,140,9m11z3tcqq2pdkpakslcz02u,0,2019-12-12 22:25:41,NaT,NaT,False,부업/창업/재테크

In [211]:
duty_data = data[(data["created_at"] >= "2020-04-01") & (data["is_deleted"] != 1) & (data["title"] == "직무")]
print("직무 클래스 수강신청자 :",duty_data.shape[0])
duty_data.head()

직무 클래스 수강신청자 : 163

,email,phone,name,created_at_x,updated_at_x,deleted_at_x,registration_date,registration_date(ym),user_id,klass_id,...,deleted_at_y,is_paid(bool),available_days(int),category_id,is_deleted,created_at,updated_at,deleted_at,is_deleted(bool),title
178184,h7slihoyu5dk@class101.net,010-2577-6711,손채정,2019-01-08 01:14:38,2020-06-02 15:04:38,NaT,2019-01-08,2019-01,a4tswsbcl3w3dz2sruz5zt97,gnt6h66rqxvik6iq5ns6xyz0,...,NaT,True,90,u3c52mjdeyk8jojul909p8xi,0,2020-04-09 06:54:07,NaT,NaT,False,직무
178185,a3g8h43adri4@class101.net,010-1125-2014,배초연,2019-01-18 15:35:17,2020-06-03 12:13:17,NaT,2019-01-18,2019-01,289rh2cfbwjy54hrkssq7ap2,gnt6h66rqxvik6iq5ns6xyz0,...,NaT,True,90,u3c52mjdeyk8jojul909p8xi,0,2020-04-09 06:54:07,NaT,NaT,False,직무
178186,be615qvsh2mk@class101.net,010-4001-6523,오은우,2019-02-01 15:02:55,2020-06-01 01:12:55,NaT,2019-02-01,2019-02,o41b89zhw69y71rdtw098cn8,gnt6h66rqxvik6iq5ns6xyz0,...,NaT,True,90,u3c52mjdeyk8jojul909p8xi,0,2020-04-09 06:54:07,NaT,NaT,False,직무
178187,e8d3t76knv94@class101.net,010-1660-4752,오윤열,2019-02-28 13:33:34,2020-05-15 11:15:34,NaT,2019-02-28,2019-02,hpwgvvlqt5rggshxaz9vlnio,gnt6h66rqxvik6iq5ns6xyz0,...,NaT,True,90,u3c52mjdeyk8jojul909p8xi,0,2020-04-09 06:54:07,NaT,NaT,False,직무
178188,9u6yvm9yadeo@class101.net,010-8418-6327,윤예찬,2019-03-04 21:27:00,2020-06-02 16:51:00,NaT,2019-03-04,2019-03,0t2zsed0c6xivi9rkpfvaku2,gnt6h66rqxvik6iq5ns6xyz0,...,NaT,True,90,u3c52mjdeyk8jojul909p8xi,0,2020-04-09 06:54:07,NaT,NaT,False,직무

**11. 월별 신규 가입 사용자(```users```) 수를 구하기.**

In [218]:
import numpy as np

In [222]:
pd.pivot_table(data=users, index="registration_date(ym)", values="name", aggfunc= 'count')

                        name
registration_date(ym)
2019-01                13934
2019-02                18494
2019-03                16096
2019-04                21147
2019-05                25510
2019-06                39519
2019-07                30389
2019-08                21647
2019-09                22143
2019-10                21041
2019-11                16217
2019-12                25367
2020-01                34225
2020-02                45120
2020-03                84434
2020-04                49464
2020-05                15253

**12. 월별 수강권(```klass_tickets```)을 구매한 사용자 수를 구하기.**

In [251]:
klass_tickets["created_at(ym)"] = klass_tickets["created_at"].dt.strftime('%Y-%m')
after_April= klass_tickets[(klass_tickets["created_at"] >= "2019-04-01") & (klass_tickets["is_paid(bool)"] == True)]

In [253]:
pd.pivot_table(data=after_April, index="created_at(ym)", values="user_id", aggfunc= pd.Series.nunique)

                user_id
created_at(ym)
2019-04             161
2019-05             328
2019-06            3003
2019-07            4382
2019-08            4072
2019-09            5978
2019-10            9019
2019-11            7501
2019-12            8849
2020-01           13623
2020-02           11587
2020-03           21483
2020-04           15284
2020-05            8870

**13. 카테고리(```categories```)별 운영 중인 클래스(```klasses```) 수를 구하기.**

In [278]:
category = pd.merge(klasses, categories, left_on="category_id", right_on="id")

In [288]:
cat_klass = pd.pivot_table(data=category, index="title", values="category_id", aggfunc='count')
cat_klass.rename(columns={"category_id" : "id"}, inplace=True)
cat_klass.sort_values(by="id" ,ascending=False)

             id
title
미술         2143
공예         2035
디지털 드로잉    1122
라이프 스타일    1081
요리/음료       865
디자인/개발      583
사진/영상       500
부업/창업/재테크   410
음악          383
직무          268
시그니처        215
디자인          92
개발           77
DIY          76
자기계발         45
커리어          30
댄스           26
영화           20
홈/인테리어       13
악기/음악         8
스포츠           8

**14. 누적 수강생 수(```klass_tickets```)가 가장 많은 Top 10 클래스의 ID와 그 수강생 수를 구하기.**

In [301]:
new_klasses = pd.merge(klasses, klass_tickets, left_on="id", right_on="klass_id")

In [303]:
top10_klasses = pd.pivot_table(data=new_klasses, index="klass_id", values="user_id", aggfunc='count')
top10_klasses.sort_values(by="user_id", ascending=False).head(10)

                          user_id
klass_id
lmcl8av2otsu7ewe5z46hmkf    17022
sz0hxjm1lp6gr15b8aum5lud    15708
svo3axw7j71qng7lb38y4hvp     7062
z3q0rfq9dclclzuxcwxbms73     6762
u85yqtgerauwfvpj9pz6j0bx     6347
zkoj2ivzj7uslzruxdnxp29c     5851
7ez0fe3y40h37ciew2dc8tww     5104
z25usytcgptslj82zop7g4ad     4482
wtdzp6q2tbs2aqauq28amagm     2848
gpa4lutkt2t2ig1k9y2bq948     2630

**15. 월별, 그리고 클래스 카테고리별 신규 구매자 수를 구하기.**

In [318]:
X = pd.merge(klass_tickets, klasses, left_on="klass_id", right_on="id")
Y = pd.merge(X, categories, left_on="category_id", right_on="id")
Y = Y[Y["is_paid(bool)"] == True]
pd.pivot_table(data=Y, 
               index="created_at(ym)", 
               columns="title", 
               values="user_id", 
               aggfunc=pd.Series.nunique, 
               fill_value=0)

title,DIY,개발,공예,디자인,디자인/개발,디지털 드로잉,라이프 스타일,미술,부업/창업/재테크,사진/영상,시그니처,악기/음악,요리/음료,음악,자기계발,직무,커리어
created_at(ym),,,,,,,,,,,,,,,,,
2019-04,0,0,0,0,0,161,0,0,0,0,0,0,0,0,0,0,0
2019-05,0,0,12,0,0,174,0,48,0,0,52,0,46,0,0,0,0
2019-06,0,0,279,13,64,705,97,340,0,575,604,0,378,30,0,0,0
2019-07,0,0,561,3,313,608,139,1081,0,403,1123,0,163,68,0,0,0
2019-08,0,0,674,0,186,596,702,1119,0,339,200,0,341,61,0,36,0
2019-09,0,0,828,0,319,887,1821,1430,9,391,142,0,241,75,0,138,0
2019-10,0,0,921,0,299,1125,759,1435,3723,370,119,0,250,54,0,374,0
2019-11,2,0,917,0,262,1045,233,1506,2453,337,435,0,142,330,0,196,0
2019-12,4,0,753,0,290,969,181,1167,3851,429,924,0,125,209,0,235,0
2020-01,0,0,1041,0,589,1901,399,2397,5648,789,763,0,185,230,0,466,29
2020-02,0,0,1513,0,794,2294,345,1973,3184,556,480,24,313,135,39,494,32
2020-03,0,0,3419,9,1135,3394,1287,3298,5816,722,440,10,589,588,486,1266,166
2020-04,0,10,1218,0,663,2324,511,1671,6458,726,403,14,181,346,203,1190,92
2020-05,0,4,666,4,495,1562,564,1237,3306,284,130,4,135,308,145,567,35